.wrong{
    color: #FFAACF;
}
.right{
    color:#B9F3E4;
}
p{
    font-size: 200%;
    text-align: center;
    color: #3C2C3E;
    margin: 5%;
}
body{
    background-color: #F6DFEB;
    position: relative;

}
textarea:focus, input:focus{
    outline: none;
}
.translation{
    position: relative;
    top:-20px;
}


@keyframes example {
    0%   {background-color: rgba(255, 255, 255, 0);color: rgba(0,0,0,0);}
    100% {background-color: rgba(255, 255, 255, 0.8);color: rgba(0,0,0,0.8);}
  }

.hoverable {
    position: relative;
    text-align: center;
  }
  
  .hoverable>.hoverable__tooltip {
    display: none;
    animation-duration: 4s;
  }
  
  .hoverable:hover>.hoverable__tooltip {
    display: inline;
    position: absolute;
    top:0px;
    left:0px;
    margin:5%;
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0,0,0,0.8);
    border: 1px solid black;
    border-radius: 30px;
    animation-name: example;
    animation-duration: 1s;
  }